@import '../../utils/theme.scss';

.container {
  width: 100%;
}

.input {
  background-color: $background-color-light;
  border: none;
  border-radius: 10px;
  color: $text-secondary-color;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}